In [2]:
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Angel/metallica.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=Angel;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'metallica' en SQL Server con todos los campos como VARCHAR
    cursor.execute('''
    IF OBJECT_ID('metallica', 'U') IS NOT NULL
        DROP TABLE metallica;
    
    CREATE TABLE metallica (
        id VARCHAR(24) PRIMARY KEY,
        Date VARCHAR(255),
        Venue VARCHAR(255),
        Location VARCHAR(255),
        Latitude VARCHAR(255),
        Longitude VARCHAR(255),
        Is_cancelled VARCHAR(3),
        Setlist_no VARCHAR(10),
        Song VARCHAR(255),
        Is_cover VARCHAR(3),
        Song_details VARCHAR(255),
        Song_profile_link VARCHAR(255),
        Concert_profile_link VARCHAR(255)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Insertar los datos en la tabla 'metallica'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO metallica (
            id, Date, Venue, Location, Latitude, Longitude, Is_cancelled, Setlist_no,
            Song, Is_cover, Song_details, Song_profile_link, Concert_profile_link
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(row['_id']['$oid']), sanitize(row['Date']), sanitize(row['Venue']),
            sanitize(row['Location']), sanitize(row['Latitude']), sanitize(row['Longitude']),
            sanitize(row['Is_cancelled']), sanitize(row['Setlist_no']), sanitize(row['Song']),
            sanitize(row['Is_cover']), sanitize(row['Song_details']),
            sanitize(row['Song_profile_link']), sanitize(row['Concert_profile_link'])
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except:
    pass

In [3]:
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Angel/phish.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=Angel;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'phish' en SQL Server con todos los campos como VARCHAR
    cursor.execute('''
    IF OBJECT_ID('phish', 'U') IS NOT NULL
        DROP TABLE phish;
    
    CREATE TABLE phish (
        id VARCHAR(24) PRIMARY KEY,
        song VARCHAR(255),
        date VARCHAR(255),
        position INT,
        [set] INT,  -- Escapando la palabra reservada 'set'
        set_name VARCHAR(255),
        location VARCHAR(255),
        venue_name VARCHAR(255),
        tour VARCHAR(255),
        ratings FLOAT,
        duration_song VARCHAR(10),
        duration_show VARCHAR(10),
        like_count_song INT,
        like_count_show INT,
        id_song INT,
        id_show INT,
        id_tour INT,
        artist VARCHAR(255),
        total_times_played INT,
        debut VARCHAR(255),
        year INT,
        gap INT,
        notes VARCHAR(255),
        debut_dummy INT,
        notes_dummy INT,
        cover_dummy INT,
        adj_gap INT,
        city VARCHAR(255),
        state VARCHAR(255),
        country VARCHAR(255),
        latitude FLOAT,
        longitude FLOAT
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except Exception as e:
            print(f"Error accessing field {field}: {e}")
            return None

    # Insertar los datos en la tabla 'phish'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO phish (
            id, song, date, position, [set], set_name, location, venue_name, tour,
            ratings, duration_song, duration_show, like_count_song, like_count_show,
            id_song, id_show, id_tour, artist, total_times_played, debut, year, gap,
            notes, debut_dummy, notes_dummy, cover_dummy, adj_gap, city, state, country,
            latitude, longitude
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), sanitize(get_value(row, 'song')), sanitize(get_value(row, 'date', '$date')),
            get_value(row, 'position'), get_value(row, 'set'), sanitize(get_value(row, 'set_name')),
            sanitize(get_value(row, 'location')), sanitize(get_value(row, 'venue_name')), sanitize(get_value(row, 'tour')),
            get_value(row, 'ratings'), sanitize(get_value(row, 'duration_song')), sanitize(get_value(row, 'duration_show')),
            get_value(row, 'like_count_song'), get_value(row, 'like_count_show'),
            get_value(row, 'id_song'), get_value(row, 'id_show'), get_value(row, 'id_tour'),
            sanitize(get_value(row, 'artist')), get_value(row, 'total_times_played'), sanitize(get_value(row, 'debut', '$date')),
            get_value(row, 'year'), get_value(row, 'gap'), sanitize(get_value(row, 'notes')),
            get_value(row, 'debut_dummy'), get_value(row, 'notes_dummy'), get_value(row, 'cover_dummy'),
            get_value(row, 'adj_gap'), sanitize(get_value(row, 'city')), sanitize(get_value(row, 'state')), sanitize(get_value(row, 'country')),
            get_value(row, 'latitude'), get_value(row, 'longitude')
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [15]:
#GABRIEL -- DATA

In [18]:
import json
import pandas as pd
import pyodbc

#1 --------------------------------------------------------
#countries-aggregated(clean)

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Gabriel/countries-aggregated(clean).json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=GABRIEL;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'countries_aggregated_clean' en SQL Server con todos los campos como VARCHAR
    cursor.execute('''
    IF OBJECT_ID('countries_aggregated_clean', 'U') IS NOT NULL
        DROP TABLE countries_aggregated_clean;
    
    CREATE TABLE countries_aggregated_clean (
        id VARCHAR(24) PRIMARY KEY,
        Country VARCHAR(255),
        Date VARCHAR(50),
        Confirmed INT,
        Deaths INT,
        Recovered INT
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except Exception as e:
            print(f"Error accessing field {field}: {e}")
            return None

    # Insertar los datos en la tabla 'countries_aggregated_clean'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO countries_aggregated_clean (
            id, Country, Date, Confirmed, Deaths, Recovered
        ) VALUES (?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), sanitize(get_value(row, 'Country')),
            sanitize(get_value(row, 'Date')), get_value(row, 'Confirmed'), get_value(row, 'Deaths'),
            get_value(row, 'Recovered')
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [19]:
#2 --------------------------------------------------------
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Gabriel/data(clean).json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=GABRIEL;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'data' en SQL Server con todos los campos como VARCHAR
    cursor.execute('''
    IF OBJECT_ID('data', 'U') IS NOT NULL
        DROP TABLE data;
    
    CREATE TABLE data (
        id VARCHAR(24) PRIMARY KEY,
        article_id VARCHAR(10),
        source_name VARCHAR(255),
        author VARCHAR(1024),
        title VARCHAR(1024),
        description VARCHAR(MAX),
        url VARCHAR(1024),
        url_to_image VARCHAR(1024),
        published_at VARCHAR(255),
        content VARCHAR(MAX),
        category VARCHAR(255),
        full_content VARCHAR(MAX)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Insertar los datos en la tabla 'data'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO data (
            id, article_id, source_name, author, title, description, url, url_to_image,
            published_at, content, category, full_content
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(row['_id']['$oid']), sanitize(row['article_id']), sanitize(row['source_name']),
            sanitize(row['author']), sanitize(row['title']), sanitize(row['description']),
            sanitize(row['url']), sanitize(row['url_to_image']), sanitize(row['published_at']),
            sanitize(row['content']), sanitize(row['category']), sanitize(row['full_content'])
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"An error occurred: {e}")

An error occurred: 'published_at'

In [20]:
#3 --------------------------------------------------------
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Gabriel/GDP by Country 1999-2022(Clean).json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=GABRIEL;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'GDP_by_Country_1999_2022_Clean' en SQL Server con todos los campos como VARCHAR
    cursor.execute('''
    IF OBJECT_ID('GDP_by_Country_1999_2022_Clean', 'U') IS NOT NULL
        DROP TABLE GDP_by_Country_1999_2022_Clean;
    
    CREATE TABLE GDP_by_Country_1999_2022_Clean (
        id VARCHAR(24) PRIMARY KEY,
        Country VARCHAR(255),
        year_1999 INT,
        year_2000 INT,
        year_2001 INT,
        year_2002 INT,
        year_2003 INT,
        year_2004 INT,
        year_2005 INT,
        year_2006 INT,
        year_2007 INT,
        year_2008 INT,
        year_2009 INT,
        year_2010 INT,
        year_2012 INT,
        year_2013 INT,
        year_2014 INT,
        year_2015 INT,
        year_2016 INT,
        year_2017 INT,
        year_2018 INT,
        year_2019 INT,
        year_2020 INT,
        year_2021 INT,
        year_2022 INT
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except Exception as e:
            print(f"Error accessing field {field}: {e}")
            return None

    # Insertar los datos en la tabla 'GDP_by_Country_1999_2022_Clean'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO GDP_by_Country_1999_2022_Clean (
            id, Country, year_1999, year_2000, year_2001, year_2002, year_2003, year_2004,
            year_2005, year_2006, year_2007, year_2008, year_2009, year_2010, year_2012,
            year_2013, year_2014, year_2015, year_2016, year_2017, year_2018, year_2019,
            year_2020, year_2021, year_2022
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), sanitize(get_value(row, 'Country')),
            get_value(row, '1999'), get_value(row, '2000'), get_value(row, '2001'),
            get_value(row, '2002'), get_value(row, '2003'), get_value(row, '2004'),
            get_value(row, '2005'), get_value(row, '2006'), get_value(row, '2007'),
            get_value(row, '2008'), get_value(row, '2009'), get_value(row, '2010'),
            get_value(row, '2012'), get_value(row, '2013'), get_value(row, '2014'),
            get_value(row, '2015'), get_value(row, '2016'), get_value(row, '2017'),
            get_value(row, '2018'), get_value(row, '2019'), get_value(row, '2020'),
            get_value(row, '2021'), get_value(row, '2022')
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [21]:
#4 --------------------------------------------------------
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Gabriel/key-countries-pivoted(clean).json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=GABRIEL;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'key_countries_pivoted_clean' en SQL Server con todos los campos como VARCHAR
    cursor.execute('''
    IF OBJECT_ID('key_countries_pivoted_clean', 'U') IS NOT NULL
        DROP TABLE key_countries_pivoted_clean;
    
    CREATE TABLE key_countries_pivoted_clean (
        id VARCHAR(24) PRIMARY KEY,
        Date VARCHAR(50),
        China INT,
        France INT,
        Germany INT,
        Iran INT,
        Italy INT,
        Spain INT,
        United_Kingdom INT,
        US INT
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except Exception as e:
            print(f"Error accessing field {field}: {e}")
            return None

    # Insertar los datos en la tabla 'key_countries_pivoted_clean'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO key_countries_pivoted_clean (
            id, Date, China, France, Germany, Iran, Italy, Spain, United_Kingdom, US
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), sanitize(get_value(row, 'Date')),
            get_value(row, 'China'), get_value(row, 'France'), get_value(row, 'Germany'),
            get_value(row, 'Iran'), get_value(row, 'Italy'), get_value(row, 'Spain'),
            get_value(row, 'United_Kingdom'), get_value(row, 'US')
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [22]:
#5 --------------------------------------------------------
import json
import pandas as pd
import pyodbc

# Leer el archivo JSON donde cada línea es un objeto JSON separado
def read_json_file(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        try:
            # Intentar cargar el archivo completo como una lista de JSON
            data = json.load(file)
        except json.JSONDecodeError as e:
            print(f"Error decoding JSON: {e}")
            data = []
    return data

# Leer los datos del archivo
file_path = 'C:/Users/angel/Desktop/Analisis/Mongo/Gabriel/News_Category_Dataset_v3(clean).json'
data = read_json_file(file_path)

# Convertir a DataFrame de Pandas
df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=GABRIEL;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'News_Category_Dataset_v3' en SQL Server con todos los campos como VARCHAR
    cursor.execute('''
    IF OBJECT_ID('News_Category_Dataset_v3', 'U') IS NOT NULL
        DROP TABLE News_Category_Dataset_v3;
    
    CREATE TABLE News_Category_Dataset_v3 (
        _id VARCHAR(24),
        link VARCHAR(1024),
        headline VARCHAR(1024),
        category VARCHAR(255),
        short_description VARCHAR(MAX),
        authors VARCHAR(1024),
        Year INT,
        Quarter VARCHAR(50),
        Month VARCHAR(50),
        Day INT
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return None
        return str(value).strip()

    # Insertar los datos en la tabla 'News_Category_Dataset_v3'
    for index, row in df.iterrows():
        try:
            cursor.execute('''
            INSERT INTO News_Category_Dataset_v3 (
                _id, link, headline, category, short_description, authors, Year, Quarter, Month, Day
            ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
            ''', (
                sanitize(row.get('_id', {}).get('$oid', '')),
                sanitize(row.get('link', '')),
                sanitize(row.get('headline', '')),
                sanitize(row.get('category', '')),
                sanitize(row.get('short_description', '')),
                sanitize(row.get('authors', '')),
                row.get('Year'),
                sanitize(row.get('Quarter', '')),
                sanitize(row.get('Month', '')),
                row.get('Day')
            ))
        except Exception as e:
            print(f"Error inserting row {index}: {e}")
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"An error occurred: {e}")

In [23]:
#6 --------------------------------------------------------
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Gabriel/rating(clean).json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=GABRIEL;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'rating' en SQL Server con todos los campos como VARCHAR
    cursor.execute('''
    IF OBJECT_ID('rating', 'U') IS NOT NULL
        DROP TABLE rating;
    
    CREATE TABLE rating (
        id VARCHAR(24) PRIMARY KEY,
        article_id VARCHAR(10),
        source_name VARCHAR(255),
        author VARCHAR(1024),
        title VARCHAR(1024),
        description VARCHAR(MAX),
        url VARCHAR(1024),
        url_to_image VARCHAR(1024),
        published_at VARCHAR(255),
        content VARCHAR(MAX),
        category VARCHAR(255),
        article VARCHAR(MAX),
        title_sentiment VARCHAR(255)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Insertar los datos en la tabla 'rating'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO rating (
            id, article_id, source_name, author, title, description, url, url_to_image,
            published_at, content, category, article, title_sentiment
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(row['_id']['$oid']), sanitize(row['article_id']), sanitize(row['source_name']),
            sanitize(row['author']), sanitize(row['title']), sanitize(row['description']),
            sanitize(row['url']), sanitize(row['url_to_image']), sanitize(row['published_at']),
            sanitize(row['content']), sanitize(row['category']), sanitize(row['article']),
            sanitize(row['title_sentiment'])
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"An error occurred: {e}")

An error occurred: 'published_at'

In [24]:
#7 --------------------------------------------------------
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Gabriel/raw-data(clean).json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=GABRIEL;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'raw_data' en SQL Server con tamaños ajustados para las columnas
    cursor.execute('''
    IF OBJECT_ID('raw_data', 'U') IS NOT NULL
        DROP TABLE raw_data;
    
    CREATE TABLE raw_data (
        id VARCHAR(24) PRIMARY KEY,
        article_id VARCHAR(10),
        source_name VARCHAR(255),
        author VARCHAR(MAX), -- Aumentar el tamaño para permitir datos más largos
        title VARCHAR(1024),
        description VARCHAR(MAX),
        url VARCHAR(MAX),
        url_to_image VARCHAR(MAX),
        published_at VARCHAR(255),
        content VARCHAR(MAX),
        category VARCHAR(255)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Insertar los datos en la tabla 'raw_data'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO raw_data (
            id, article_id, source_name, author, title, description, url, url_to_image,
            published_at, content, category
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(row['_id']['$oid']), sanitize(row['article_id']), sanitize(row['source_name']),
            sanitize(row['author']), sanitize(row['title']), sanitize(row['description']),
            sanitize(row['url']), sanitize(row['url_to_image']), sanitize(row['published_at']),
            sanitize(row['content']), sanitize(row['category'])
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"An error occurred: {e}")

An error occurred: 'published_at'

In [25]:
#8 --------------------------------------------------------
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Gabriel/reference(clean).json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=GABRIEL;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'reference_clean' en SQL Server con todos los campos como VARCHAR
    cursor.execute('''
    IF OBJECT_ID('reference_clean', 'U') IS NOT NULL
        DROP TABLE reference_clean;
    
    CREATE TABLE reference_clean (
        id VARCHAR(24) PRIMARY KEY,
        Combined_Key VARCHAR(255),
        Country_Region VARCHAR(255),
        Count_of_UID INT
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except Exception as e:
            print(f"Error accessing field {field}: {e}")
            return None

    # Insertar los datos en la tabla 'reference_clean'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO reference_clean (
            id, Combined_Key, Country_Region, Count_of_UID
        ) VALUES (?, ?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), sanitize(get_value(row, 'Combined_Key')),
            sanitize(get_value(row, 'Country_Region')), get_value(row, 'Count of UID')
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [26]:
#9 --------------------------------------------------------
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Gabriel/time-series-19-covid-combined(clean).json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=GABRIEL;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'time_series_19_covid_combined_clean' en SQL Server con todos los campos como VARCHAR
    cursor.execute('''
    IF OBJECT_ID('time_series_19_covid_combined_clean', 'U') IS NOT NULL
        DROP TABLE time_series_19_covid_combined_clean;
    
    CREATE TABLE time_series_19_covid_combined_clean (
        id VARCHAR(24) PRIMARY KEY,
        Country_Region VARCHAR(255),
        Year INT,
        Quarter VARCHAR(10),
        Month VARCHAR(50),
        Day INT,
        Confirmed INT,
        Deaths INT,
        Recovered INT
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except Exception as e:
            print(f"Error accessing field {field}: {e}")
            return None

    # Insertar los datos en la tabla 'time_series_19_covid_combined_clean'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO time_series_19_covid_combined_clean (
            id, Country_Region, Year, Quarter, Month, Day, Confirmed, Deaths, Recovered
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), sanitize(get_value(row, 'Country/Region')),
            get_value(row, 'Year'), sanitize(get_value(row, 'Quarter')),
            sanitize(get_value(row, 'Month')), get_value(row, 'Day'),
            get_value(row, 'Confirmed'), get_value(row, 'Deaths'), get_value(row, 'Recovered')
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [27]:
#10 --------------------------------------------------------
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Gabriel/us_confirmed.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=GABRIEL;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'us_confirmed' en SQL Server con todos los campos como VARCHAR
    cursor.execute('''
    IF OBJECT_ID('us_confirmed', 'U') IS NOT NULL
        DROP TABLE us_confirmed;
    
    CREATE TABLE us_confirmed (
        id VARCHAR(24) PRIMARY KEY,
        Admin2 VARCHAR(255),
        Date VARCHAR(50),
        [Case] INT,
        Country_Region VARCHAR(255),
        Province_State VARCHAR(255)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except Exception as e:
            print(f"Error accessing field {field}: {e}")
            return None

    # Insertar los datos en la tabla 'us_confirmed'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO us_confirmed (
            id, Admin2, Date, [Case], Country_Region, Province_State
        ) VALUES (?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), sanitize(get_value(row, 'Admin2')),
            sanitize(get_value(row, 'Date', '$date')), get_value(row, 'Case'),
            sanitize(get_value(row, 'Country/Region')), sanitize(get_value(row, 'Province/State'))
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [ ]:
#11 --------------------------------------------------------
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Gabriel/us_deaths.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=GABRIEL;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'us_deaths' en SQL Server con todos los campos como VARCHAR
    cursor.execute('''
    IF OBJECT_ID('us_deaths', 'U') IS NOT NULL
        DROP TABLE us_deaths;
    
    CREATE TABLE us_deaths (
        id VARCHAR(24) PRIMARY KEY,
        Admin2 VARCHAR(255),
        Date VARCHAR(50),
        [Case] INT,
        Country_Region VARCHAR(255),
        Province_State VARCHAR(255)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except Exception as e:
            print(f"Error accessing field {field}: {e}")
            return None

    # Insertar los datos en la tabla 'us_deaths'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO us_deaths (
            id, Admin2, Date, [Case], Country_Region, Province_State
        ) VALUES (?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), sanitize(get_value(row, 'Admin2')),
            sanitize(get_value(row, 'Date', '$date')), get_value(row, 'Case'),
            sanitize(get_value(row, 'Country/Region')), sanitize(get_value(row, 'Province/State'))
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [30]:
#12 --------------------------------------------------------
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Gabriel/us_simplified.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=GABRIEL;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'us_simplified' en SQL Server con todos los campos como VARCHAR
    cursor.execute('''
    IF OBJECT_ID('us_simplified', 'U') IS NOT NULL
        DROP TABLE us_simplified;
    
    CREATE TABLE us_simplified (
        id VARCHAR(24) PRIMARY KEY,
        Date VARCHAR(50),
        Admin2 VARCHAR(255),
        Province_State VARCHAR(255),
        Confirmed INT,
        Deaths INT,
        Country_Region VARCHAR(255)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except Exception as e:
            print(f"Error accessing field {field}: {e}")
            return None

    # Insertar los datos en la tabla 'us_simplified'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO us_simplified (
            id, Date, Admin2, Province_State, Confirmed, Deaths, Country_Region
        ) VALUES (?, ?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), sanitize(get_value(row, 'Date', '$date')),
            sanitize(get_value(row, 'Admin2')), sanitize(get_value(row, 'Province/State')),
            get_value(row, 'Confirmed'), get_value(row, 'Deaths'),
            sanitize(get_value(row, 'Country/Region'))
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [33]:
#13 --------------------------------------------------------
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Gabriel/world_population(clean).json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=GABRIEL;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'world_population_clean' en SQL Server con todos los campos como VARCHAR o tipo adecuado
    cursor.execute('''
    IF OBJECT_ID('world_population_clean', 'U') IS NOT NULL
        DROP TABLE world_population_clean;
    
    CREATE TABLE world_population_clean (
        cod VARCHAR(24) PRIMARY KEY,
        Rank INT,
        CCA3 VARCHAR(3),
        Country_Territory VARCHAR(255),
        Capital VARCHAR(255),
        Continent VARCHAR(255),
        Population_2022 BIGINT,
        Population_2020 BIGINT,
        Population_2015 BIGINT,
        Population_2010 BIGINT,
        Population_2000 BIGINT,
        Population_1990 BIGINT,
        Population_1980 BIGINT,
        Population_1970 BIGINT,
        Area_km2 BIGINT,
        Density_per_km2 FLOAT,
        Growth_Rate FLOAT,
        World_Population_Percentage FLOAT
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return None
        if isinstance(value, dict):
            return str(value)  # Convertir dict a string
        if isinstance(value, str):
            return value.strip()
        return value

    # Insertar los datos en la tabla 'world_population_clean'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO world_population_clean (
            cod, Rank, CCA3, Country_Territory, Capital, Continent, Population_2022,
            Population_2020, Population_2015, Population_2010, Population_2000,
            Population_1990, Population_1980, Population_1970, Area_km2, Density_per_km2,
            Growth_Rate, World_Population_Percentage
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(row['_id']['$oid']), sanitize(row['Rank']), sanitize(row['CCA3']),
            sanitize(row['Country/Territory']), sanitize(row['Capital']), sanitize(row['Continent']),
            sanitize(row['2022 Population']), sanitize(row['2020 Population']), sanitize(row['2015 Population']),
            sanitize(row['2010 Population']), sanitize(row['2000 Population']), sanitize(row['1990 Population']),
            sanitize(row['1980 Population']), sanitize(row['1970 Population']), sanitize(row['Area (km²)']),
            sanitize(row['Density (per km²)']), sanitize(row['Growth Rate']), sanitize(row['World Population Percentage'])
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"An error occurred: {e}")

In [34]:
#14 --------------------------------------------------------
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Gabriel/worldwide-aggregate.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=GABRIEL;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'worldwide_aggregate' en SQL Server con todos los campos como VARCHAR o tipo adecuado
    cursor.execute('''
    IF OBJECT_ID('worldwide_aggregate', 'U') IS NOT NULL
        DROP TABLE worldwide_aggregate;
    
    CREATE TABLE worldwide_aggregate (
        cod VARCHAR(24) PRIMARY KEY,
        Date VARCHAR(255),
        Confirmed INT,
        Recovered INT,
        Deaths INT
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return None
        if isinstance(value, dict):
            return str(value)  # Convertir dict a string
        if isinstance(value, str):
            return value.strip()
        return value

    # Insertar los datos en la tabla 'worldwide_aggregate'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO worldwide_aggregate (
            cod, Date, Confirmed, Recovered, Deaths
        ) VALUES (?, ?, ?, ?, ?)
        ''', (
            sanitize(row['_id']['$oid']), sanitize(row['Date']['$date']),
            sanitize(row['Confirmed']), sanitize(row['Recovered']),
            sanitize(row['Deaths'])
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"An error occurred: {e}")

In [32]:
#Mathias

In [42]:
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Mathias/athlete_events_cleaned_file.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=MATHIAS;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'athlete_events_cleaned_file' en SQL Server con todos los campos como VARCHAR o tipo adecuado
    cursor.execute('''
    IF OBJECT_ID('athlete_events_cleaned_file', 'U') IS NOT NULL
        DROP TABLE athlete_events_cleaned_file;
    
    CREATE TABLE athlete_events_cleaned_file (
        cod VARCHAR(24) PRIMARY KEY,
        ID INT,
        Name VARCHAR(255),
        Sex CHAR(1),
        Age INT,
        Height INT,
        Weight INT,
        Team VARCHAR(255),
        NOC CHAR(3),
        Games VARCHAR(255),
        Year INT,
        Season VARCHAR(255),
        City VARCHAR(255),
        Sport VARCHAR(255),
        Event VARCHAR(255),
        Medal VARCHAR(50)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return None
        if isinstance(value, str):
            return value.strip()
        return value

    # Insertar los datos en la tabla 'athlete_events_cleaned_file'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO athlete_events_cleaned_file (
            cod, ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(row['_id']['$oid']), sanitize(row['ID']), sanitize(row['Name']),
            sanitize(row['Sex']), sanitize(row['Age']), sanitize(row['Height']),
            sanitize(row['Weight']), sanitize(row['Team']), sanitize(row['NOC']),
            sanitize(row['Games']), sanitize(row['Year']), sanitize(row['Season']),
            sanitize(row['City']), sanitize(row['Sport']), sanitize(row['Event']),
            sanitize(row['Medal'])
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"An error occurred: {e}")

In [44]:
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Mathias/goalscorersClean.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=MATHIAS;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'goalscorersClean' en SQL Server con los campos booleanos adecuados
    cursor.execute('''
    IF OBJECT_ID('goalscorersClean', 'U') IS NOT NULL
        DROP TABLE goalscorersClean;
    
    CREATE TABLE goalscorersClean (
        cod VARCHAR(24) PRIMARY KEY,
        Fecha VARCHAR(50),
        Equipo_Local VARCHAR(255),
        Equipo_Visitante VARCHAR(255),
        Equipo VARCHAR(255),
        goleador VARCHAR(255),
        Minuto VARCHAR(10),
        Auto_Gol BIT,
        Penales BIT
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return None
        if isinstance(value, dict):
            return str(value)  # Convertir dict a string
        if isinstance(value, str):
            value = value.strip()
            if value.lower() in ['true', '1']:
                return True
            elif value.lower() in ['false', '0']:
                return False
        return value

    # Insertar los datos en la tabla 'goalscorersClean'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO goalscorersClean (
            cod, Fecha, Equipo_Local, Equipo_Visitante, Equipo, goleador, Minuto, Auto_Gol, Penales
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(row['_id']['$oid']), sanitize(row['Fecha']), sanitize(row['Equipo_Local']),
            sanitize(row['Equipo_Visitante']), sanitize(row['Equipo']), sanitize(row['goleador']),
            sanitize(row['Minuto']), sanitize(row['Auto_Gol']), sanitize(row['Penales'])
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"An error occurred: {e}")

In [47]:
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Mathias/noc_regions_clean.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=MATHIAS;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'noc_regions_clean' en SQL Server con todos los campos como VARCHAR
    cursor.execute('''
    IF OBJECT_ID('noc_regions_clean', 'U') IS NOT NULL
        DROP TABLE noc_regions_clean;
    
    CREATE TABLE noc_regions_clean (
        id VARCHAR(24) PRIMARY KEY,
        NOC VARCHAR(10),
        region VARCHAR(255)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except Exception as e:
            print(f"Error accessing field {field}: {e}")
            return None

    # Insertar los datos en la tabla 'noc_regions_clean'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO noc_regions_clean (
            id, NOC, region
        ) VALUES (?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), sanitize(get_value(row, 'NOC')), sanitize(get_value(row, 'region'))
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [48]:
#Olympic_Athlete_Event_Results_cleaned__file
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Mathias/Olympic_Athlete_Event_Results_cleaned__file.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=MATHIAS;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'Olympic_Athlete_Event_Results_cleaned_file' en SQL Server con todos los campos como VARCHAR
    cursor.execute('''
    IF OBJECT_ID('Olympic_Athlete_Event_Results_cleaned_file', 'U') IS NOT NULL
        DROP TABLE Olympic_Athlete_Event_Results_cleaned_file;
    
    CREATE TABLE Olympic_Athlete_Event_Results_cleaned_file (
        id VARCHAR(24) PRIMARY KEY,
        Athlete_ID INT,
        Name VARCHAR(255),
        Sex CHAR(1),
        Age INT,
        Height INT,
        Weight INT,
        Team VARCHAR(255),
        NOC VARCHAR(10),
        Games VARCHAR(50),
        Year INT,
        Season VARCHAR(10),
        City VARCHAR(255),
        Sport VARCHAR(50),
        Event VARCHAR(255),
        Medal VARCHAR(50)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except Exception as e:
            print(f"Error accessing field {field}: {e}")
            return None

    # Insertar los datos en la tabla 'Olympic_Athlete_Event_Results_cleaned_file'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO Olympic_Athlete_Event_Results_cleaned_file (
            id, Athlete_ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), get_value(row, 'ID'), sanitize(get_value(row, 'Name')),
            sanitize(get_value(row, 'Sex')), get_value(row, 'Age'), get_value(row, 'Height'),
            get_value(row, 'Weight'), sanitize(get_value(row, 'Team')), sanitize(get_value(row, 'NOC')),
            sanitize(get_value(row, 'Games')), get_value(row, 'Year'), sanitize(get_value(row, 'Season')),
            sanitize(get_value(row, 'City')), sanitize(get_value(row, 'Sport')), sanitize(get_value(row, 'Event')),
            sanitize(get_value(row, 'Medal'))
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [52]:
#TALLY
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Mathias/Olympic_Games_Medal_Tally_limpio.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=MATHIAS;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'Olympic_Games_Medal_Tally_limpio' en SQL Server con todos los campos como VARCHAR
    cursor.execute('''
    IF OBJECT_ID('Olympic_Games_Medal_Tally_limpio', 'U') IS NOT NULL
        DROP TABLE Olympic_Games_Medal_Tally_limpio;
    
    CREATE TABLE Olympic_Games_Medal_Tally_limpio (
        id VARCHAR(24) PRIMARY KEY,
        edition VARCHAR(50),
        edition_id INT,
        year BIGINT,
        country VARCHAR(255),
        country_noc VARCHAR(10),
        gold INT,
        silver INT,
        bronze INT,
        total INT
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None, subsubfield=None):
        try:
            if subfield and subsubfield:
                return row[field][subfield][subsubfield] if field in row and subfield in row[field] and subsubfield in row[field][subfield] else None
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except Exception as e:
            print(f"Error accessing field {field}: {e}")
            return None

    # Insertar los datos en la tabla 'Olympic_Games_Medal_Tally_limpio'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO Olympic_Games_Medal_Tally_limpio (
            id, edition, edition_id, year, country, country_noc, gold, silver, bronze, total
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), sanitize(get_value(row, 'edition')), get_value(row, 'edition_id'),
            get_value(row, 'year', '$date', '$numberLong'), sanitize(get_value(row, 'country')),
            sanitize(get_value(row, 'country_noc')), get_value(row, 'gold'), get_value(row, 'silver'),
            get_value(row, 'bronze'), get_value(row, 'total')
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [53]:
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Mathias/Olympic_Results_limpio.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=MATHIAS;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'Olympic_Results_limpio' en SQL Server con VARCHAR(MAX) para todos los campos de texto largo
    cursor.execute('''
    IF OBJECT_ID('Olympic_Results_limpio', 'U') IS NOT NULL
        DROP TABLE Olympic_Results_limpio;
    
    CREATE TABLE Olympic_Results_limpio (
        id VARCHAR(24) PRIMARY KEY,
        id_resultado INT,
        titulo_evento VARCHAR(MAX),
        edicion VARCHAR(MAX),
        id_edicion INT,
        deporte VARCHAR(MAX),
        url_deporte VARCHAR(MAX),
        ubicacion_resultado VARCHAR(MAX),
        participantes_resultado VARCHAR(MAX),
        formato_resultado VARCHAR(MAX),
        detalle_resultado VARCHAR(MAX),
        descripcion_resultado VARCHAR(MAX)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except Exception as e:
            print(f"Error accessing field {field}: {e}")
            return None

    # Insertar los datos en la tabla 'Olympic_Results_limpio'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO Olympic_Results_limpio (
            id, id_resultado, titulo_evento, edicion, id_edicion, deporte, url_deporte,
            ubicacion_resultado, participantes_resultado, formato_resultado, detalle_resultado, descripcion_resultado
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), get_value(row, 'id_resultado'), sanitize(get_value(row, 'titulo_evento')),
            sanitize(get_value(row, 'edicion')), get_value(row, 'id_edicion'), sanitize(get_value(row, 'deporte')),
            sanitize(get_value(row, 'url_deporte')), sanitize(get_value(row, 'ubicacion_resultado')),
            sanitize(get_value(row, 'participantes_resultado')), sanitize(get_value(row, 'formato_resultado')),
            sanitize(get_value(row, 'detalle_resultado')), sanitize(get_value(row, 'descripcion_resultado'))
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [54]:
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Mathias/Olympics_Country.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=MATHIAS;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'Olympics_Country' en SQL Server
    cursor.execute('''
    IF OBJECT_ID('Olympics_Country', 'U') IS NOT NULL
        DROP TABLE Olympics_Country;
    
    CREATE TABLE Olympics_Country (
        id VARCHAR(24) PRIMARY KEY,
        noc VARCHAR(10),
        country VARCHAR(255)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except Exception as e:
            print(f"Error accessing field {field}: {e}")
            return None

    # Insertar los datos en la tabla 'Olympics_Country'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO Olympics_Country (
            id, noc, country
        ) VALUES (?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), sanitize(get_value(row, 'noc')),
            sanitize(get_value(row, 'country'))
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [55]:
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Mathias/Olympics_Games.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=MATHIAS;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'Olympics_Games' en SQL Server
    cursor.execute('''
    IF OBJECT_ID('Olympics_Games', 'U') IS NOT NULL
        DROP TABLE Olympics_Games;
    
    CREATE TABLE Olympics_Games (
        id VARCHAR(24) PRIMARY KEY,
        edition VARCHAR(255),
        edition_id INT,
        edition_url VARCHAR(255),
        year INT,
        city VARCHAR(255),
        country_flag_url VARCHAR(255),
        country_noc VARCHAR(10),
        start_date VARCHAR(50),
        end_date VARCHAR(50),
        competition_date VARCHAR(50)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except Exception as e:
            print(f"Error accessing field {field}: {e}")
            return None

    # Insertar los datos en la tabla 'Olympics_Games'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO Olympics_Games (
            id, edition, edition_id, edition_url, year, city, country_flag_url,
            country_noc, start_date, end_date, competition_date
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), sanitize(get_value(row, 'edition')),
            get_value(row, 'edition_id'), sanitize(get_value(row, 'edition_url')),
            get_value(row, 'year'), sanitize(get_value(row, 'city')),
            sanitize(get_value(row, 'country_flag_url')), sanitize(get_value(row, 'country_noc')),
            sanitize(get_value(row, 'start_date')), sanitize(get_value(row, 'end_date')),
            sanitize(get_value(row, 'competition_date'))
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [56]:
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Mathias/Restaurant_reviews__Clean.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=MATHIAS;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'Restaurant_reviews_Clean' en SQL Server
    cursor.execute('''
    IF OBJECT_ID('Restaurant_reviews_Clean', 'U') IS NOT NULL
        DROP TABLE Restaurant_reviews_Clean;
    
    CREATE TABLE Restaurant_reviews_Clean (
        id VARCHAR(24) PRIMARY KEY,
        Restaurante VARCHAR(255),
        Critico VARCHAR(255),
        Review TEXT,
        Valoracion INT,
        Metadata VARCHAR(255),
        Time VARCHAR(50)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except:
            return None

    # Reemplazar NaN en 'Valoracion' con 0
    df['Valoracion'] = df['Valoracion'].fillna(0).astype(int)

    # Insertar los datos en la tabla 'Restaurant_reviews_Clean'
    for index, row in df.iterrows():
        try:
            cursor.execute('''
            INSERT INTO Restaurant_reviews_Clean (
                id, Restaurante, Critico, Review, Valoracion, Metadata, Time
            ) VALUES (?, ?, ?, ?, ?, ?, ?)
            ''', (
                sanitize(get_value(row, '_id', '$oid')), sanitize(get_value(row, 'Restaurante')),
                sanitize(get_value(row, 'Critico')), sanitize(get_value(row, 'Review')),
                int(get_value(row, 'Valoracion')),  # Asegúrate de que sea un entero
                sanitize(get_value(row, 'Metadata')),
                sanitize(get_value(row, 'Time'))
            ))
        except Exception as e:
            print(f"Error inserting row {index}: {e}")
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [57]:
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Mathias/results_limpio.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=MATHIAS;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'results_limpio' en SQL Server
    cursor.execute('''
    IF OBJECT_ID('results_limpio', 'U') IS NOT NULL
        DROP TABLE results_limpio;
    
    CREATE TABLE results_limpio (
        id VARCHAR(24) PRIMARY KEY,
        fecha VARCHAR(50),
        equipo_local VARCHAR(255),
        equipo_visitante VARCHAR(255),
        puntaje_local INT,
        puntaje_visitante INT,
        torneo VARCHAR(255),
        ciudad VARCHAR(255),
        pais VARCHAR(255)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para convertir el timestamp a string
    def parse_date(timestamp):
        try:
            if pd.isna(timestamp) or timestamp is None:
                return ''
            # Convertir el timestamp (milisegundos desde epoch) a datetime y luego a string
            date = datetime.datetime.fromtimestamp(timestamp / 1000.0)
            return date.strftime('%Y-%m-%d %H:%M:%S')
        except:
            return ''

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except:
            return None

    # Convertir los valores a tipos adecuados
    def process_row(row):
        fecha = get_value(row, 'fecha', '$date')
        if fecha and '$numberLong' in fecha:
            fecha = int(fecha['$numberLong'])
        else:
            fecha = None
        return (
            sanitize(get_value(row, '_id', '$oid')), 
            parse_date(fecha), 
            sanitize(get_value(row, 'equipo_local')),
            sanitize(get_value(row, 'equipo_visitante')), 
            get_value(row, 'puntaje_local'), 
            get_value(row, 'puntaje_visitante'), 
            sanitize(get_value(row, 'torneo')),
            sanitize(get_value(row, 'ciudad')), 
            sanitize(get_value(row, 'pais'))
        )

    # Insertar los datos en la tabla 'results_limpio'
    for index, row in df.iterrows():
        processed_row = process_row(row)
        if all(value is not None for value in processed_row):
            cursor.execute('''
            INSERT INTO results_limpio (
                id, fecha, equipo_local, equipo_visitante, puntaje_local, puntaje_visitante, torneo, ciudad, pais
            ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
            ''', processed_row)
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [59]:
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Mathias/reviews_limpio.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=MATHIAS;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'reviews_limpio' en SQL Server
    cursor.execute('''
    IF OBJECT_ID('reviews_limpio', 'U') IS NOT NULL
        DROP TABLE reviews_limpio;
    
    CREATE TABLE reviews_limpio (
        id VARCHAR(24) PRIMARY KEY,
        nombre_negocio VARCHAR(255),
        nombre_autor VARCHAR(255),
        texto TEXT,
        calificacion INT,
        categoria_calificacion VARCHAR(50)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except:
            return None

    # Insertar los datos en la tabla 'reviews_limpio'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO reviews_limpio (
            id, nombre_negocio, nombre_autor, texto, calificacion, categoria_calificacion
        ) VALUES (?, ?, ?, ?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), sanitize(get_value(row, 'nombre_negocio')),
            sanitize(get_value(row, 'nombre_autor')), sanitize(get_value(row, 'texto')),
            get_value(row, 'calificacion'), sanitize(get_value(row, 'categoria_calificacion'))
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")

In [60]:
import json
import pandas as pd
import pyodbc

# Especificar la codificación al abrir el archivo JSON
with open('C:/Users/angel/Desktop/Analisis/Mongo/Mathias/sepetcioglu_restaurant_limpio.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Configura la cadena de conexión usando autenticación de Windows
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-HETI6BK7\SQLEXPRESS;'
    r'DATABASE=MATHIAS;'
    r'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Crear la tabla 'sepetcioglu_restaurant_limpio' en SQL Server
    cursor.execute('''
    IF OBJECT_ID('sepetcioglu_restaurant_limpio', 'U') IS NOT NULL
        DROP TABLE sepetcioglu_restaurant_limpio;
    
    CREATE TABLE sepetcioglu_restaurant_limpio (
        id VARCHAR(24) PRIMARY KEY,
        foto VARCHAR(255),
        calificacion INT,
        categoria_calificacion VARCHAR(50)
    )
    ''')
    conn.commit()

    # Función para limpiar datos antes de la inserción
    def sanitize(value):
        if pd.isna(value):
            return ''
        return str(value).strip()

    # Función para obtener valor de un campo con verificación
    def get_value(row, field, subfield=None):
        try:
            if subfield:
                return row[field][subfield] if field in row and subfield in row[field] else None
            return row[field] if field in row else None
        except:
            return None

    # Insertar los datos en la tabla 'sepetcioglu_restaurant_limpio'
    for index, row in df.iterrows():
        cursor.execute('''
        INSERT INTO sepetcioglu_restaurant_limpio (
            id, foto, calificacion, categoria_calificacion
        ) VALUES (?, ?, ?, ?)
        ''', (
            sanitize(get_value(row, '_id', '$oid')), sanitize(get_value(row, 'foto')),
            get_value(row, 'calificacion'), sanitize(get_value(row, 'categoria_calificacion'))
        ))
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Ocurrió un error: {e}")